@font-face {
  font-family: 'Solis';
  src: url('/fonts/Solis/Solis-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #c3ecff, #ffffff);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.9);
}

.weather-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.weather-section h1 {
  margin-top: 0;
  font-size: 28px;
  color: #0079FF; /* AccuWeather blue */
  margin-right: 20px;
}

.news-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 30px;
  background-color: #0079FF; /* AccuWeather blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3; /* Darker shade of AccuWeather blue */
}

#news {
  margin-top: 20px;
}

.article {
  margin-bottom: 20px;
}

.article h3 {
  margin-top: 0;
}

.error-message {
  color: red;
}
